@use "global" as *;

.blog {
    @include mq(md){
        position: relative;
    }
}

.blog::before {
    @include mq(md){
        position: absolute;
        content: "";
        background-image: url(../images/common/blog-bg2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 1440/500;
        top: 0;
        z-index: -1;
        width: 100%;
        height: rem(500);
    }
}

.blog::after {
    @include mq(md){
        position: absolute;
        content: "";
        background-image: url(../images/common/lotus2.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        max-width: rem(437);
        width: 100%;
        height: rem(137);
        top: rem(60);
        left: calc(49% - min(47vw, 38rem));
    }
}

.blog__inner {
    padding: 0 rem(21);
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
    @include mq(md){
        max-width: rem(1130);
        padding: 0 rem(25);
    }
}

.blog__cards {
    margin-top: rem(29);
    @include mq(md){
        margin-top: rem(80);
    }
}

.blog__button {
    text-align: center;
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(80);
    }
}

.blog__no-posts {
    margin-top: rem(24);
    @include mq(md){
        padding: rem(80) 0 rem(215) 0;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}