@use "global" as *;

.campaign {
    overflow: hidden;
}

.campaign__inner {
    margin: auto;
    padding: 0 rem(13);
    max-width: rem(600);
    width: 100%;
    @include mq(md){
        max-width: rem(1132);
        padding: 0 rem(25);
        position: relative;
    }
}

.campaign__cards {
    margin-top: rem(24);
    margin-right: calc(50% - 50vw);
    @include mq(md){
        margin-top: rem(40);
    }
}

.campaign__cards-info-card {
    height: auto;
}

.campaign__cards-wrapper {
    padding: 0 0 rem(10) rem(2);
    transition: all 0.3s ease 0s;

}

.campaign__wrap {
    @include mq(md){
        position: absolute;
        top: rem(7);
        right: 15.5%;
        margin-top: rem(17);
    }
}

.campaign__prev,
.campaign__next {
    @include mq(md){
        width: rem(80);
        height: rem(93);
        transition: opacity 0.3s ease;
    }
}

.campaign__prev:hover,
.campaign__next:hover {
    opacity: 0.4;
}

.campaign__prev {
    @include mq(md){
        margin-left: rem(60);
    }
}

.campaign__prev::after,
.campaign__next::after {
    @include mq(md){
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: rem(80);
        margin: auto;
        width: rem(80);
    }
}

 /* 前への矢印カスタマイズ */
.campaign__prev::after {
    display: none;
    @include mq(md){
        display: block;
        background-image: url(../images/common/info-arrow1.svg);
    }
}

 /* 次への矢印カスタマイズ */
.campaign__next::after {
    display: none;
    @include mq(md){
        display: block;
        background-image: url(../images/common/info-arrow2.svg);
    }
}

.campaign__button {
    margin-top: rem(35);
    text-align: center;
    @include mq(md){
        margin-top: rem(70);
    }
}

.campaign__no-posts {
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(40);
    }
}




