@use "global" as *;

.privacy-policy__inner {
    max-width: rem(600);
    width: 100%;
    @include mq(md){
        max-width: rem(850);
    }
}

.privacy-policy__title {
    font-size: rem(24);
    font-weight: $medium;
    @include mq(md){
        font-size: rem(32);
    }
}

.privacy-policy__wrapper {
    font-size: rem(16);
    font-weight: $normal;
    line-height: 32px;
    margin-top: rem(40);
}

.privacy-policy__box {
    margin-top: rem(32);
}

.privacy-policy__description-numbers {
    counter-reset: number;
}

.privacy-policy__description-number {
    padding-left: rem(24);
    text-indent: rem(-17);
}

.privacy-policy__description-number::before {
    content: counter(number) ". ";
    counter-increment: number;
}

.privacy-policy__text {
    margin-top: rem(32);
}