@use "global" as *;

.voice {
    @include mq(md){
        position: relative;
    }
}

.voice::before {
    @include mq(md){
        position: absolute;
        content: "";
        background-image: url(../images/common/lotus3.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        max-width: rem(301);
        width: 100%;
        height: rem(138);
        left: calc(49% - min(47vw, 38rem));
        top: -19%;
    }
}

.voice::after {
    display: none;
    @include mq(md){
        position: absolute;
        content: "";
        background-image: url(../images/common/lotus4.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        max-width: rem(172);
        width: 100%;
        height: rem(162);
        bottom: rem(-69);
        right: calc(50% - min(48vw, 33.7rem));
    }
}

.voice__inner {
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
}

.voice__testimonial-list {
    margin-top: rem(44);
    @include mq(md){
        margin-top: rem(30);
    }
}

.voice__button {
    text-align: center;
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(80);
    }
}

.voice__no-posts {
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(40);
    }
}
